@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
/* GREEN: #86F1A7 */
/* YELLOW: #F4DD45 */
html,
body {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, #da387d 0%, #8078bc 100%);
  color: #fff;
}

button {
  background: #86f1a7;
  color: #fff;
  padding: 0 45px;
  border: none;
  border-radius: 0;
  height: 50px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1em;
  cursor: pointer;
  transition: 0.4s;
  border-radius: 50px;
}

button:hover {
  background: #f4dd45;
}
