.box{
    max-width: 300px;
    margin: 30px auto;
    padding: 30px;
    text-align: center;
    border-radius: 8px;
    box-shadow: rgb(225, 225, 225) 0px 3px 30px;
}

h2{
    font-size: 18px;
    text-transform: uppercase;
    color: #333;
}

.box .info{
    color: #777;
    line-height: 1.5;
    font-size: 16px;
}